<html>
  <body>
    <div class="container col-md-8 order-md-1">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
    
    <div class="form-group">
        <%= label_tag 'Titre de ton évènement :' %>
        <%= text_field_tag 'title', @event.title, class: "form-control", placeholder:"Entre 3 et 14 caractères" %>
        <br />
    </div>
    <div class="form-group">
        <%= label_tag 'Description de ton évènement :' %>
        <%= text_area_tag 'description', @event.description, class: "form-control"  %>
        <br />
    </div>
    <div class="form-group">
        <%= label_tag 'Date de début de ton évènement :' %>
        <%= datetime_field_tag 'start_date', @event.start_date, class: "form-control" %>
        <br />
    </div>
    <div class="form-group">
        <%= label_tag 'Durée de ton évènement :' %>
        <%= text_field_tag 'duration', @event.duration, class: "form-control" %>
        <br />
    </div>
    <div class="form-group">
        <%= label_tag 'Prix de ton évènement :' %>
        <%= text_field_tag 'price', @event.price, class: "form-control" %>
        <br />
    </div><div class="form-group">
        <%= label_tag 'Lieu de ton évènement :' %>
        <%= text_field_tag 'location', @event.location, class: "form-control" %>
        <br />
    </div>
    <%= submit_tag "Créer ton event", class: "btn btn-primary" %>
</div>

    <% end %>
    <br />
    <% if @event.errors.any? %>
  <p>Nous n'avons pas réussi à créer l'event pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  </body>
</html>
